.test {
  background: red 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #186aa51a;
  border-radius: 12px;
  opacity: 1;
  height: 159px;
  width: 206px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.shortcut-card {
  background: #ffbe00 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #186aa51a;
  border-radius: 12px;
  opacity: 1;
  height: 159px;
  width: 206px;
  margin-bottom: 30px;
  margin-top: 20px;
  /* overflow-y: auto; */
}
.shortcut-card-second {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #186aa51a;
  border-radius: 12px;
  opacity: 1;
  height: 159px;
  width: 206px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.shortcut-icon-container {
  width: 57px;
  height: 57px;
  background: #f4f7fa 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  margin: 25px auto;
}

.shortcut-text {
  text-align: center;
  font: normal normal bold 20px/26px Manrope;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.79;
  margin-top: 20px;
  overflow-y: auto;
  height: 50px;
}

.shortcut-text-second {
  text-align: center;
  font: normal normal bold 20px/26px Manrope;
  letter-spacing: 0px;
  color: #292929;
  opacity: 0.79;
  margin-top: 20px;
  overflow-y: auto;
  height: 50px;
}
.shortcut-icon {
  margin: auto;
  width: 36px;
  height: 36px;
  fill: #4385f6;
  opacity: 1;
}
