.besoin-aide {
    background: #4385F6 0% 0% no-repeat padding-box;
box-shadow: -9px -9px 16px #FFFFFF4B;
border-radius: 11px;
opacity: 1;
/* border-color: #4385F6; */
border: none;
padding: 10px 3px;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
margin-bottom: 40px;
}

.besoin-aide-title {
    text-align: center;
    font: normal normal bold 22px/34px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1
}

.besoin-aide-subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font: normal normal normal 15px/21px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.besoin-aide-button {
    background: #FFFFFF;
border-radius: 6px;
opacity: 1;
height: 51px;
font: normal normal normal 22px/29px Montserrat;
letter-spacing: 0px;
color: #000000;
border-color: #FFFFFF;
border: none;
}