.lois-title {
    font: normal normal bold 47px/66px Montserrat;
letter-spacing: 0px;
color: #4385F6;
opacity: 1;
margin-top: 35px;
margin-bottom: 150px;
}
.lois-container {
width: 80%;
margin: 30px auto;
}