.card-on-caroussel {
  width: 50%;
  max-width: 300px;
  height: 100px;
  background: #ffffffc7 0% 0% no-repeat padding-box;
  border-radius: 27px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 15px 50px;
  /* margin-top : 40px; */
  opacity: 0.5;
}

.card-on-caroussel-title {
  text-align: center;
  font: normal normal bold 12px/14px Roboto;
  letter-spacing: 0px;
  color: #000000;
  text-shadow: 0px 3px 6px #0000001a;
  text-transform: uppercase;
  /* margin-top: 30px; */
  margin-bottom: 17px;
  opacity: 1;
}

.card-on-caroussel-description {
  text-align: center;
  font: normal normal normal 10px/12px Roboto;
  letter-spacing: 0px;
  color: #292929;
  text-shadow: 0px 3px 6px #00000029;
  text-transform: capitalize;
  opacity: 1;
  height: 80px;
  display: justify;
  /* padding-top: 10px; */
  overflow: hidden;
}

.card-on-caroussel-button,
.card-on-caroussel-button:hover,
.card-on-caroussel-button:active {
  width: 77px;
  height: 30px !important;
  background: #4385f6 0% 0% no-repeat padding-box;
  border: #4385f6;
  border-radius: 12px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

@media only screen and (max-width: 578px) {

    .card-on-caroussel-title {
      font: normal normal bold 14px/20px Roboto;
      
      margin-top: 5px;
      margin-bottom: 7px;
    }
    .card-on-caroussel-description {
      overflow-y:hidden;
      font: normal normal normal 12px/16px Roboto;
  height: 50px;

    }
    .card-on-caroussel {
      height: 80px;
      width: 90%;
      margin-bottom: auto;
      margin-top: auto;
      padding: 5px 15px;
      /* margin-top : 40px; */
      opacity: 0.5;
    }

    .card-on-caroussel-button,
.card-on-caroussel-button:hover,
.card-on-caroussel-button:active {
  width: 107px;
  height: 25px;
}

}