.form-header {
    background-color: rgb(43, 113, 211);
    width: 90.5vw;
    position: relative;
    left: calc(-50vw + 50%);
    top: 120px;
    border-radius: 10px 10px 0px 0;
}

.stepper-div {
    width: 100%;
    padding: 50px 0px;
    position: relative;
    background-color: #092a47;
    top: -5px;
}

.form-header h2 {
    padding: 30px;
    font-weight: 300;
    font-size: x-large;
    color: white;
}

.form-style{
    margin: 50px;
    padding: 50px;
    padding-top: 100px !important;
    min-width: 60% !important;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    min-height: 500px;
}

.breadcrumb {
    font-size: 20px;
    background-color: rgb(43, 113, 211);
    border-radius: 0;
    padding: 10px;
}

.breadcrumb-item.active {
    color: #FFBE00;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .form-style{
        min-width: 60% !important;
    }
}

@media only screen and (max-width: 575px) {
    #button-previous button{
        float: none !important;
    }

    #button-next button{
        float: none !important;
    }

    #button-submit button{
        float: none !important;
    }
}