@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
.page-title {
    text-align: center;
    font: normal normal bold 48px/57px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 150px 0px 50px 0px;
}

.activities-separator {
    color: #FFBE00;
    opacity: 1;
    border: 2px solid #FFBE00;
    width: 10%;
}

.activities-card {
    /* box-shadow: 5px 10px #888888; */
    margin: 10px;
    width: 250px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.activities-page-section {
    margin: 0px;
    position: relative;
    top: -50px;
    right: -150px;
    float: left;
}

.activities-card-list {
    padding-left: 100px;
    padding-right: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.activities-card.card {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.activities-card-img {
    background-image: url('../../assets/images/img7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
}

.activities-card-for-presentation {
    display: flex;
    flex-direction: row;
    margin: 100px !important;
    background: #E8EBF4 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    border-radius: 0px !important;
}

.activities-card-for-presentation-2 {
    display: flex;
    flex-direction: row;
    margin: 100px !important;
    background: #E8EBF4 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    margin-top: -100px !important;
    border-radius: 0px !important;
}

.activities-card-text-for-presentation {
    padding: 100px;
}

.activities-card-text-title-for-presentation {
    font: "normal normal bold 63px/94px Poppins"; 
    letter-spacing: '0px';
    color: '#000000';
    opacity: '1';
    margin-bottom: '30px';
}

/* .activities-card-text-subtitle-for-presentation {

} */

.activities-card-for-presentation-img {
    background-image: url('../../assets/images/img8.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 500px;
    border-radius: 0px !important;
}

.activities-card-for-presentation-img-2 {
    background-image: url('../../assets/images/img7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 500px;
    border-radius: 0px !important;
}

.activities-card-for-presentation-mobile{
    display: none;
    border-radius: 0px !important;
}

.activities-card-for-presentation-mobile-2 {
    margin-top: -10px !important;
    border-radius: 0px !important;
    display: none;
}

.rounded-circle {
    width: 37px;
    height: 37px;
    position: relative;
    top: -35px;
    right: -10px;
}

.activities-card p.card-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 0px 0px 0px;
    width: 60ch;
}

.page-subtitle {
    text-align: center;
    font: normal normal normal 21px/21px Source Sans Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 150px;
    padding: 7px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {

    .activities-card-for-presentation {
        display: flex;
        height: 300px;
        margin: 10px;
        background: #E8EBF4 0% 0% no-repeat padding-box !important;
        opacity: 1 !important;
    }

    .activities-card-for-presentation-2 {
        display: flex;
        height: 300px;
        margin: 10px;
        background: #E8EBF4 0% 0% no-repeat padding-box !important;
        opacity: 1 !important;
    }

    .activities-card-text-subtitle-for-presentation {
        font-size: .7rem;
        display: block;
        width: 30ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 30px;
    }

    .activities-card-text-title-for-presentation {
        font: bold 33px / 4px Montserrat;
        letter-spacing: 0px;
        color: rgb(0, 0, 0);
        opacity: 1;
    }

    .activities-card-for-presentation-mobile {
        display: none;
    }

    .activities-card-for-presentation-mobile-2 {
        display: none;
    }

    .activities-card-for-presentation-img {
        background-image: url('../../assets/images/img8.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
        height: 300px;
    }

    .activities-card-for-presentation-img-2 {
        background-image: url('../../assets/images/img7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px;
        height: 300px;
    }


    .page-title {
      font: normal normal bold 38px/45px Montserrat;
      padding: 50px 0px 20px 0px;
    }

    .page-subtitle {
        text-align: justify;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font: normal normal normal 14px/22px Source Sans Pro;
    }

    .activities-separator {
        color: #FFBE00;
        opacity: 1;
        border: 2px solid #FFBE00;
        width: 10%;
    }
    
    .activities-card {
        /* box-shadow: 5px 10px #888888; */
        margin: 10px;
        width: 250px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    
    .activities-page-section {
        margin: 0px;
        position: relative;
        top: -50px;
        right: -150px;
        float: left;
    }
    
    .activities-card-list {
        padding-left: 100px;
        padding-right: 70px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .activities-card.card {
        padding: 0px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    .activities-card-img {
        background-image: url('../../assets/images/img7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
        -webkit-border-radius: 15px 15px 0px 0px;
        -moz-border-radius: 15px 15px 0px 0px;
        -ms-border-radius: 15px 15px 0px 0px;
        -o-border-radius: 15px 15px 0px 0px;
    }
    
    .rounded-circle {
        width: 37px;
        height: 37px;
        position: relative;
        top: -35px;
        right: -10px;
    }
    
    .activities-card p.card-text {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0px 0px 0px 0px;
    }

  }

@media only screen and (min-width: 1440px) and (max-width: 2560px) {

    .page-title {
        font: normal normal bold 28px/40px Montserrat;
        padding: 50px 0px 20px 0px;
    }

    .activities-card-text-subtitle-for-presentation {
        font-size: 100%;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 60ch;
    }

    .activities-card p.card-text h2 {
        font-size: 250%;
    }

    .page-subtitle {
        text-align: justify;
        letter-spacing: 0px;
        color: #000000;
        font: normal normal normal 14px/22px Source Sans Pro;
        opacity: 1;
    }

    .activities-card-list {
        padding-left: 15%;
        padding-right: 70px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .activities-page-section {
        margin-left: 5%;
    }

}

@media only screen and (min-width: 2560px) {

    .page-title {
        font: normal normal bold 28px/40px Montserrat;
        padding: 50px 0px 20px 0px;
    }

    .page-subtitle {
        text-align: justify;
        letter-spacing: 0px;
        color: #000000;
        font: normal normal normal 14px/22px Source Sans Pro;
        opacity: 1;
    }

    .activities-card-list {
        padding-left: 15%;
        padding-right: 70px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .activities-page-section {
        margin-left: 9%;
    }

    .activities-card p.card-text {
        width: auto;
    }

    .activities-card-for-presentation-img {
        background-image: url('../../assets/images/img8.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1000px;
        height: 500px;
    }

    .activities-card-for-presentation-img-2 {
        background-image: url('../../assets/images/img7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1000px;
        height: 500px;
    }

}

@media only screen and (max-width: 810px) {

    .activities-card-for-presentation {
        display: none;
    }

    .activities-card-for-presentation-2 {
        display: none;
    }

    .activities-card-for-presentation-mobile {
        display: block;
        margin: 10px;
        background: #E8EBF4 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .activities-card-for-presentation-mobile-2 {
        display: block;
        margin: 10px;
        background: #E8EBF4 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .activities-card-for-presentation-img {
        background-image: url('../../assets/images/img8.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 200px;
    }

    .activities-card-for-presentation-img-2 {
        background-image: url('../../assets/images/img7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 200px;
    }

    .page-title {
      font: normal normal bold 28px/40px Montserrat;
      padding: 50px 0px 20px 0px;
    }

    .page-subtitle {
        text-align: justify;
        letter-spacing: 0px;
        color: #000000;
        font: normal normal normal 14px/22px Source Sans Pro;
        opacity: 1;
    }


    .activities-page-section {
        margin-left: 0%;
    }

    .activities-card-list {
        padding-left: 20%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .activities-card p.card-text {
        width: auto;
    }

}


@media only screen and (min-width: 375px) and (max-width: 768px) {

    .page-title {
      font: normal normal bold 28px/40px Montserrat;
      padding: 50px 0px 20px 0px;
    }

    .page-subtitle {
        text-align: justify;
        letter-spacing: 0px;
        color: #000000;
        font: normal normal normal 14px/22px Source Sans Pro;
        opacity: 1;
    }

    .activities-card {
        min-width: 250px;
    }


    .activities-page-section {
        margin-left: 0%;
    }

    .activities-card-list {
        padding-left: 20%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

}


@media only screen and (max-width: 370px) {

    .page-title {
      font: normal normal bold 28px/40px Montserrat;
      padding: 50px 0px 20px 0px;
    }

    .page-subtitle {
        text-align: justify;
        letter-spacing: 0px;
        color: #000000;
        font: normal normal normal 14px/22px Source Sans Pro;
        opacity: 1;
    }

    .activities-card {
        min-width: 250px;
    }


    .activities-page-section {
        margin-left: -35%;
        font-size: 32px;
    }

    .activities-card-list {
        padding-left: 12%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

}