.espace-dpo-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.breadcrumb {
    font-size: 20px;
    background-color: rgb(43, 113, 211);
    border-radius: 0;
    padding: 10px;
}

.breadcrumb-item.active {
    color: #FFBE00;
    font-weight: bold;
}

.espace-dpo-title {
    font: normal normal bold 35px/47px Montserrat;
    letter-spacing: 0px;
    color: #4385F6;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 25px;
}

.espace-dpo-cards-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.espace-dpo-section-button:hover {

    background-color: #4385F6;
    color: #fff;
}

.espace-dpo-section-button:active {
    background-color: #4385F6;
}

.espace-dpo-card-label:hover {
    color: #FFFFFF;
}

.espace-dpo-content {
    width: 90%;
    margin: auto;
    overflow-x: auto;
}

.espace-dpo-section-button {
    width: 100%;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #fff;
    font: normal normal bold 15px/15px Montserrat;

}

.activeSection {
    background-color: #FFC03A;
}