.phototheque-title {
    text-align: center;
    font: normal normal bold 38px/48px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    }
.phototheque-cards-container {
width: 80%;
margin: 30px auto;
}

.breadcrumb {
    font-size: 20px;
    background-color: rgb(43, 113, 211);
    border-radius: 0;
    padding: 10px;
}

.breadcrumb-item.active {
    color: #FFBE00;
    font-weight: bold;
}