.form-style .form-label {
    align-self: flex-start !important;
    margin: auto 0 auto 0;
    text-align: left !important;
    font-size: 14px !important;
}

@media only screen and (max-width: 760px) {

    .d-flex.flex-row.justify-content-left.align-items-left.mb-3{
        flex-direction: column !important;
    }
    
    form.form-style input {
        max-width: 100% !important;
    }
}

#input_div input[type=file]::-webkit-file-upload-button{
    height: 50px !important;
}

#input_div input[type=text]{
    line-height: 28px;
}

/* .form-control {
    margin: 0 10px;
    width: 80%;
} */
