.recommandation-card {
    background: #EAEAEA 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 27px #727C8E40;
    border-radius: 10px;
    opacity: 1;
    width: 300px;
    height: 300px;
    margin-bottom: 125px;
    padding-left: 10px;
    padding-right: 10px;
}

.recommandation-card-image {
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    width: 184px;
height: 184px;
border-radius: 50%;
margin-top: -20%;
margin-bottom: 20px;
}

.recommandation-card-title {
    text-align: center;
    font: normal normal bold 20px/29px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 25px;
    height: 25px;
}
.recommandation-card-description {
    text-align: center;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #2E2E2E;
opacity: 1;
margin-bottom: 25px;
height: 100px;
overflow-y: auto;
}
.lrecommandation-card-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 15px #727C8E5C;
    border-radius: 24px;
    opacity: 1;
    text-align: center;
font: normal normal medium 7px/9px Roboto;
letter-spacing: 0px;
color: #727C8E;
text-transform: uppercase;
opacity: 1;
width: 171px;
height: 31px;
border: none;
cursor: pointer;
}
@media only screen and (max-width: 768px) {
.recommandation-card-description {
    height: 100px;
}
}
    