.rapports-annuels-row {
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
}

.rapports-annuels-row-blue {
  background: transparent linear-gradient(180deg, #4385f6 0%, #2368e0 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #dfdfdf;
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
  height: 58px;
  width: 100%;
  text-align: left;
  font: normal normal normal 16px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 1px !important;
}

.rapports-annuels-row-blue:hover {
    cursor: pointer;
}

.rapports-annuels-row-blue-plus-icon {
  width: 35px;
  height: 30px;
  color: #ffffff;
  opacity: 1;
}

.rapports-annuels-row-details {
  width: 100%;
  padding: 15px 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #969696;
  opacity: 1;
  margin-left: 1px !important;
}

.rapports-annuels-row-details-text-container {
  /* width: 70%; */
}

.rapports-annuels-row-details-text {
  text-align: left;
  font: normal normal normal 16px/24px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  /* width: 100%; */
  opacity: 1;
}

.rapports-annuels-row-details-button-container {
  /* width: 30%; */
  /* padding-left: 30%; */
}

.rapports-annuels-row-details-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #4385f6;
  border-radius: 29px;
  opacity: 1;
  height: 47px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font: normal normal 600 21px/28px Montserrat;
  letter-spacing: 0px;
  color: #4385f6;
}

.rapports-annuels-row-details-button-icon {
  width: 35px;
  height: 30px;
  color: #4385f6;
  opacity: 1;
}
